/* Menus popup */

.popup_menu ul
{
    position: absolute;
    z-index: 1001;
    list-style-type: none;
    display: none;
    padding: 0;
    margin-top: 0;
    background-color: #488AD4;
    border: #2568B1 1px solid;
    opacity: .90;
    filter: alpha(opacity=90); 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}
#logbox div.bloc_inscription a, #logbox div.bloc_connexion a { color: #D3E9FF }
#logbox div.bloc_inscription { float: left; margin: 0 }
#logbox div.bloc_connexion { margin: 0 0 0 51% }
#logbox a strong.liens_invites {font-size: 1.5em;color: #174A86;}
#logbox a:hover strong.liens_invites { color: #C87B02 }
ul #speedbarre
{
    margin: 0;
    padding: 95px 0 0 26px;
    list-style-type: none;
    height: 27px;
    background: url("../../images/designs/2/speedbarre/bg_left_speed.png") no-repeat left 95px;
}

.icone_chap /* L'ensemble icône + titre chapitre */
{
    width: 71px;
    float: left;
    background-color: #FFFFFF;
    margin-right: 0 20px 0 0;
    font-size: 12px;
    position: relative; top: -8px;
}

.icone_chap img
{
    border: 1px solid #E3E7Ec;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 50px;
    margin-top: 5px;
}